body {
  background-image: url("../pictures/UBC_sunset.jpg");
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-size: 100% 100%;
}

#bio{
  background-color: rgb(251, 255, 183, 0.9);

  text-align: center;
  border-style: double;
  border-spacing: 0cm;
  max-width: 800px; /* "compress" text so it doesn't span the whole page" */
  margin: 0 auto; /* center the container on the page */
	padding: 13px; /* add some padding to the container */

}

header {
  font-family:Georgia;
  color:black; 

  -webkit-text-stroke: 1.3px rgb(0, 0, 0);
  -webkit-text-fill-color:rgb(255, 255, 255);

  text-align: center;
  font-size: 30px;
  padding: 5px;
}

nav {
  text-align: center;
  color: navy
  ;
}

.Heading2_centered {
  text-align: center;
  font-size: 30px;
  -webkit-text-stroke: 0.2px rgb(59, 190, 255);
  -webkit-text-fill-color:rgb(0, 0, 0);
}

.Heading2 {
  font-size: 30px;
  -webkit-text-stroke: 0.2px rgb(59, 190, 255);
  -webkit-text-fill-color:rgb(0, 0, 0);
}

.Heading3 {
  font-size: 20px;
}

.textbox {
  background-color: rgb(251, 255, 183, 0.9);
  border-style: double;
  border-spacing: 0cm;
  max-width: 800px; /* "compress" text so it doesn't span the whole page" */
	padding: 13px; /* add some padding to the container */
}
