
body {
 font-family: sans-serif;
}

.background {

  background-image: url("../pictures/cool_sunset.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}
#bio{
  background-color: rgba(218, 243, 255, 0.9);
  font-family: cursive;
  text-align: center;
  border-style: double;
  border-spacing: 0cm;
  max-width: 800px; /* "compress" text so it doesn't span the whole page" */
  margin: 0 auto; /* center the container on the page */
	padding: 13px; /* add some padding to the container */
  border-radius: 10px;


}

header {
  font-family: Ink Free;

  -webkit-text-stroke: 0.001px rgba(100, 242, 255, 0.9);
  -webkit-text-fill-color: rgb(0, 44, 64);
  
  text-align: center;
  font-size: 50px;
  padding: 5px;
}

nav {
  text-align: center;
  color: navy;
}

.Heading2_centered {
  font-family: Ink Free;
  text-align: center;
  font-size: 50px;
  -webkit-text-stroke: 0.001px rgba(100, 242, 255, 0.9);
  -webkit-text-fill-color: rgb(0, 44, 64);
}

.Heading2 {
  font-family: cursive;
  font-size: 50px;
  -webkit-text-stroke: 0.2px rgb(59, 190, 255);
  -webkit-text-fill-color:rgb(0, 0, 0);
}

.Heading3 {
  font-size: 20px;
  font-family: Ink Free;
  -webkit-text-stroke: 0.1px rgba(100, 242, 255, 0.9);
  -webkit-text-fill-color: rgb(0, 44, 64);
}

.Heading3_centered {
  font-size: 20px;
  text-align: center;
  font-family: cursive;
  -webkit-text-stroke: 0.1px navy;
  -webkit-text-fill-color: rgb(0, 44, 64);
}

.textbox {
  font-family: cursive;
  background-color: rgb(251, 255, 183, 0.9);
  border-style: double;
	padding: 13px; /* add some padding to the container */
  width: 700px;
  border-radius: 10px;
  text-align: center;
}

.column-container {
  column-count: 3;
  column-gap: 20px;
  margin: 13px;

}

.column1 {
  font-family: cursive;
  background-color: rgb(251, 255, 183, 0.9);
  border-style: double;
  padding: 13px; /* add some padding to the container */
  border-radius: 10px;
  text-align: center;
  break-inside: avoid-column;
  margin-bottom: 13px;
}

.column2 {
  text-align: center;
  font-size: 30px;
}
.my-image {
  display: block; 
  margin: 0 auto; 
  width: 20%;
  border: 6px double rgb(255, 255, 255);
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
}

.icon {
  display: block; 
  margin: 0 auto; 
  width: 40%;
  margin-bottom: 20px;
}