body {
  background-color: black;
}
#bio{
  text-align: center;
}

header {
  text-align: center;
  font-size: 30px;
  color: greenyellow;
  background-color: black;
  padding: 5px;
  font-family:Segoe UI, Tahoma, Geneva, 'Verdana', sans-serif;
}

nav {
  text-align: center;
  color:greenyellow;
}

.Heading2_centered {
  text-align: center;
  color:blue;
}

.Heading2 {
  color: green;
}
