body {
  background-image: url('"C:/Users/cdc1/OneDrive/Documents/WEBSITE/pictures/UBC_sunset.jpg"');
  background-size: cover;
	background-repeat: no-repeat;

  font-family: Courier New, Courier, 'monospace';
}

#bio{
  text-align: center;
}

header {
  text-align: center;
  font-size: 30px;
  padding: 5px;
}

nav {
  text-align: center;
  color: lime;
}

.Heading2_centered {
  text-align: center;
  color:lime;
}

.Heading2 {
  color: lime;
}
