body {
  background-color: black;
  font-family: Courier New, Courier, 'monospace';
}
#bio{
  text-align: center;
}

header {
  text-align: center;
  font-size: 30px;
  color: rgb(0, 255, 0);
  background-color: black;
  padding: 5px;
  font-family:Segoe UI, Tahoma, Geneva, 'Verdana', sans-serif;
}

nav {
  text-align: center;
  color: lime;
}

.Heading2_centered {
  text-align: center;
  color:lime;
}

.Heading2 {
  color: lime;
}
